# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.VC.db
.vs/SimpleToolPalette/v17/Browse.VC.db
# Executables
*.exe
*.out
*.app

# Ignore EM20 files
bin/*
cache/*
manual/*
source/*
temp/*
ipch/*
.vs/*
.editorconfig
**/bin/*
**/ipch/*
**/cache/*
**/manual/*
**/source/*
**/temp/*
**/tmp/*
**/lib/*
**/.vs/*
.vs/*

*.pdb